body{
	font-family: $main-font-family;
}

header, main, footer {
	padding-left: $side-nav-width;
	@media only screen and (max-width: 992px) {
		padding-left: 0;
	}
}

#side-nav {
	width: $side-nav-width;
}

.side-nav {
	li{
		&>a{
			&>i.material-icons{
				float: left;
				width: 2em;
			}
		}
	}
}

// Replicate input field class css to suppress form label effect.
.input-field-active-label {
	position: relative;
	margin-top: 1rem;
}

.font-bold{
	font-weight: 600;
}
.font-medium{
	font-weight: 400;
}
.font-light{
	font-weight: 300;
}